.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  gap: 24px;
  padding: 24px;
}


.card {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-left: 4px solid #8b36db;
  border-radius: 8px;
  padding: 16px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease;
}

.card:hover {
  transform: translateY(-4px);
  box-shadow: 0 4px 14px rgba(0, 0, 0, 0.08);
}

.card-title {
  font-size: 1.2rem;
  font-weight: 600;
}

.card-role,
.card-certificates {
  font-size: 0.95rem;
  color: #6B7280;
}

.card-certificates {
  font-size: 0.9rem;
  margin-bottom: 8px;
}

.popup-overlay {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 50;
}

.popup-content {
  background: white;
  border-radius: 16px;
  padding: 32px;
  max-width: 800px;
  width: 90%;
  max-height: 90vh;
  overflow: auto;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.2);
}

.popup-scroll {
  max-height: 60vh;
  overflow-y: auto;
  margin-top: 16px;
  border-radius: 4px;
}

.popup-title {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 16px;
}

.popup-close-button {
  background-color: var(--primary-color);
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  position: absolute;
  bottom: 24px;
  left: 50%;
  transform: translateX(-50%);
  transition: background-color 0.2s ease;
}

.popup-close-button:hover {
  background-color: #4F46E5;
}

.popup-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  font-size: 0.95rem;
}

.popup-table thead th {
  background-color: #f4f4f4;
  color: #333;
  font-weight: bold;
  padding: 12px;
  border-bottom: 2px solid #ddd;
}

.popup-table thead th {
  text-align: center;
  width: 180px;
}

.popup-table tbody tr {
  border-bottom: 1px solid #ddd;
}

.popup-table tbody tr:hover {
  background-color: #f9f9f9;
}

.popup-table tbody td {
  padding: 12px;
  width: 180px;
  color: #555;
  text-align: center;
}

.dropdown-row td {
  padding: 16px;

}

.popup-table td:first-child {
  text-align: center;
  width: 180px;
}




.save-button {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 8px;
}

.save-button:hover {
  background-color: #45a049;
}

.cancel-button {
  background-color: #bab8b8;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
}

.cancel-button:hover {
  background-color: #777676;
}

.form-group {
  margin-bottom: 16px;
  text-align: left;
}

.form-group label {
  display: block;
  font-weight: bold;
  margin-bottom: 8px;
}

.form-input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.form-checkbox {
  margin-left: 8px;
}

.edit-button {

  color: #4837b4;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
}

.document-button {
  background-color: #8b36db;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 0.9rem;
}

.document-button:hover {
  background-color: #7328b9;
}

.negar-boton {
  background-color: #e63946;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.negar-boton:hover {
  background-color: #d62828;
  transform: scale(1.05);
}

.continuar-boton {
  background-color: #41af55;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.continuar-boton:hover {
  background-color: #388d43;
  transform: scale(1.05);
}

.button-group {
  display: flex;
  gap: 12px;
  justify-content: center;
  margin-bottom: 16px;
}

.select-box {
  position: relative; 
  width: 8%;
  border-radius: 10px;
}


.manejar-dropdown {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
  padding: 8px;
  border-radius: 10px;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
  background-color: white;
}

.manejar-dropdown:focus {
  padding: 8px;
  border-color: #8b36db; 
  box-shadow: 0 0 4px #8b36db; 
  outline: none; 
}

.manejar-dropdown option:hover {
  background-color: #8b36db; 
  color: white; 
  
}
